In [2]:
########################################################################
# II. PREDICT AVERAGE SESSION LENGTH
########################################################################
import pandas as pd
import pickle
from sklearn.linear_model import *
from sklearn.ensemble import *
from sklearn.model_selection import *

In [8]:
# method to find IP address class
def find_class(ip):
    a=int(ip.split('.')[0])
    
  
    # Class A 
    if (a >=1 and a <= 126) :
        return 1 
  
    # Class B 
    elif (a >= 128 and a <= 191): 
        return 2
  
    # Class C 
    elif (a >= 192 and a <= 223) :
        return 3 
  
    # Class D 
    elif (a >= 224 and a <= 239) :
        return 4 
    # Class E
    else:
        return 5

In [9]:

# Read output of intervals output from DE section

intervals = pd.read_csv('/Users/bjayaram/Downloads/WeblogChallenge-master/data/output/intervals/part-00000-26ee749b-0fdb-49ca-a734-f9c31ca4842e-c000.csv',
    low_memory=False)
intervals.columns

Index([u'session_id', u'ip', u'max(ts)', u'min(ts)', u'interval_seconds'], dtype='object')

In [10]:

# calculate total average interval across sessions for each IP
data = intervals[['session_id', 'ip', 'interval_seconds']].groupby('ip').mean()
data['ip'] = data.index
data.reset_index(drop=True, inplace=True)

In [11]:
# Split IP address into 4 features
X = data['ip'].str.split('.', expand=True)

for i in range(4):
    c = chr(ord('a') + i)
    X[c] = map(int, X[i])
    
# Add session id
X['session_id'] = data['session_id']

# find class (i.e A, B, C, D) for each IP address. Method find_class() defined in parse_ip.py
X['class'] = map(find_class, data['ip'])

In [13]:
#  X contains IP class, session id, 4 components of IP address
X = X[['class', 'session_id', 'a', 'b', 'c', 'd']].values

# Target variable Y contains session length in minutes
Y = (data['interval_seconds']/60).values

In [14]:
alpha_list = range(10,10000,10)
alphas = map(lambda x: 10.0/(1+x), alpha_list)
results={}


# Try the following regressors: 
# 1.Linear Regression, 
# 2.GradientBoostingRegressor, 
# 3.Ridge, 
# 4.Lasso, 
# 5.RandomForest
model1 = GradientBoostingRegressor(n_estimators=1000)
model2 = RidgeCV(normalize=True, alphas = alphas)
model3 = LassoCV(normalize=True, alphas = alphas, max_iter=1000)
model4 = RandomForestRegressor(n_estimators=1000)
model5 = LinearRegression(normalize=True)

In [15]:
# Run 10-fold cross validation on each of the models to evaluate the performance
results1 = cross_val_score(model1, X, Y, cv=10, n_jobs=-1,scoring='neg_mean_squared_error')
results2 = cross_val_score(model2, X, Y, cv=10, n_jobs=-1,scoring='neg_mean_squared_error')
results3 = cross_val_score(model3, X, Y, cv=10, n_jobs=-1,scoring='neg_mean_squared_error')
results4 = cross_val_score(model4, X, Y, cv=10, n_jobs=-1,scoring='neg_mean_squared_error')
results5 = cross_val_score(model5, X, Y, cv=10, n_jobs=-1,scoring='neg_mean_squared_error')
results['Gradient Boosting Regression']=results1.mean()
results['Ridge Regresison']=results2.mean()
results['Lasso Regression']=results3.mean()
results['RandomForestRegressor']=results4.mean()
results['Linear Regression']=results5.mean()

In [ ]:
print results
# -ve MSE (in minutes) values are as follows:
# {'Ridge Regresison': -24.683386466253015,
#  'Lasso Regression': -24.669352663188963,
#  'Linear Regression': -24.683337971018613,
#  'Gradient Boosting Regression': -25.380661544821258,
#  'RandomForestRegressor': -26.480090281772327}

In [ ]:
# Further iterate with lasso


alphas=map(lambda x:pow(10,x),range(-100,100,10))
model=GridSearchCV(Lasso(),n_jobs=-1, cv=10,scoring='neg_mean_squared_error',verbose=1,
                   param_grid={'alpha':alphas,'normalize':[True],'max_iter':[100,1000,10000]})
model.fit(X,Y)
print "BEST SCORE", model.best_score_, model.scoring
print "BEST ESTIMATOR", model.best_estimator_
pickle.dump(model,open('/Users/bjayaram/Downloads/WeblogChallenge-master/WebLogsPrediction/output/intervals_model.p','w'))
# The final MSE value is 24.669352663188963 minutes

ValueError: n_components=4 must be between 0 and n_features=2 with svd_solver='full'

NameError: name 'train' is not defined

In [ ]:


df['date']=df['ts'].dt.date
df['hour']=df['ts'].dt.hour
df['minute']=df['ts'].dt.minute
df['second']=df['ts'].dt.second

requests=df[time_fields+['ts']]
# requests.to_csv('/Users/bjayaram/Downloads/WeblogChallenge-master/WebLogsPrediction/output/requests.csv')
# time_fields=['date','hour','minute','second']
# requests = requests.groupby(time_fields).count()
# requests.reset_index()

In [53]:
requests.reset_index(level=0, inplace=True)
requests.groupby(['date','hour','minute','second'])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>index</th>
      <th>date</th>
      <th>hour</th>
      <th>minute</th>
      <th>second</th>
      <th>ts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.019143</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>27</td>
      <td>2015-07-22 09:00:27.894580</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>27</td>
      <td>2015-07-22 09:00:27.885745</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.048369</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.036251</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.033793</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.055029</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.050298</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.059081</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.054939</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.064841</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.064229</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.057527</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.068481</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.002726</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.064700</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.059020</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.071994</td>
    </tr>
    <tr>
      <th>18</th>
      <td>18</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.069908</td>
    </tr>
    <tr>
      <th>19</th>
      <td>19</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.019497</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.062804</td>
    </tr>
    <tr>
      <th>21</th>
      <td>21</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.084591</td>
    </tr>
    <tr>
      <th>22</th>
      <td>22</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.078577</td>
    </tr>
    <tr>
      <th>23</th>
      <td>23</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.095544</td>
    </tr>
    <tr>
      <th>24</th>
      <td>24</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.096488</td>
    </tr>
    <tr>
      <th>25</th>
      <td>25</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.091662</td>
    </tr>
    <tr>
      <th>26</th>
      <td>26</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.074266</td>
    </tr>
    <tr>
      <th>27</th>
      <td>27</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.035595</td>
    </tr>
    <tr>
      <th>28</th>
      <td>28</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.067445</td>
    </tr>
    <tr>
      <th>29</th>
      <td>29</td>
      <td>2015-07-22</td>
      <td>9</td>
      <td>0</td>
      <td>28</td>
      <td>2015-07-22 09:00:28.096844</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1158470</th>
      <td>1158470</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>41</td>
      <td>2015-07-22 11:59:41.438756</td>
    </tr>
    <tr>
      <th>1158471</th>
      <td>1158471</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>41</td>
      <td>2015-07-22 11:59:41.428476</td>
    </tr>
    <tr>
      <th>1158472</th>
      <td>1158472</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>38</td>
      <td>2015-07-22 11:59:38.590401</td>
    </tr>
    <tr>
      <th>1158473</th>
      <td>1158473</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>38</td>
      <td>2015-07-22 11:59:38.589683</td>
    </tr>
    <tr>
      <th>1158474</th>
      <td>1158474</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>44</td>
      <td>2015-07-22 11:59:44.778168</td>
    </tr>
    <tr>
      <th>1158475</th>
      <td>1158475</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>44</td>
      <td>2015-07-22 11:59:44.791816</td>
    </tr>
    <tr>
      <th>1158476</th>
      <td>1158476</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>52</td>
      <td>2015-07-22 11:59:52.034255</td>
    </tr>
    <tr>
      <th>1158477</th>
      <td>1158477</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>53</td>
      <td>2015-07-22 11:59:53.363757</td>
    </tr>
    <tr>
      <th>1158478</th>
      <td>1158478</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>54</td>
      <td>2015-07-22 11:59:54.343852</td>
    </tr>
    <tr>
      <th>1158479</th>
      <td>1158479</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>51</td>
      <td>2015-07-22 11:59:51.021714</td>
    </tr>
    <tr>
      <th>1158480</th>
      <td>1158480</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>51</td>
      <td>2015-07-22 11:59:51.010115</td>
    </tr>
    <tr>
      <th>1158481</th>
      <td>1158481</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>51</td>
      <td>2015-07-22 11:59:51.016115</td>
    </tr>
    <tr>
      <th>1158482</th>
      <td>1158482</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>51</td>
      <td>2015-07-22 11:59:51.012151</td>
    </tr>
    <tr>
      <th>1158483</th>
      <td>1158483</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>57</td>
      <td>2015-07-22 11:59:57.132071</td>
    </tr>
    <tr>
      <th>1158484</th>
      <td>1158484</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>57</td>
      <td>2015-07-22 11:59:57.628720</td>
    </tr>
    <tr>
      <th>1158485</th>
      <td>1158485</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>59</td>
      <td>2015-07-22 11:59:59.852156</td>
    </tr>
    <tr>
      <th>1158486</th>
      <td>1158486</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>57</td>
      <td>2015-07-22 11:59:57.267093</td>
    </tr>
    <tr>
      <th>1158487</th>
      <td>1158487</td>
      <td>2015-07-22</td>
      <td>11</td>
      <td>59</td>
      <td>57</td>
      <td>2015-07-22 11:59:57.274633</td>
    </tr>
    <tr>
      <th>1158488</th>
      <td>1158488</td>
      <td>2015-07-22</td>
      <td>12</td>
      <td>0</td>
      <td>3</td>
      <td>2015-07-22 12:00:03.534050</td>
    </tr>
    <tr>
      <th>1158489</th>
      <td>1158489</td>
      <td>2015-07-22</td>
      <td>12</td>
      <td>0</td>
      <td>3</td>
      <td>2015-07-22 12:00:03.538445</td>
    </tr>
    <tr>
      <th>1158490</th>
      <td>1158490</td>
      <td>2015-07-22</td>
      <td>12</td>
      <td>0</td>
      <td>3</td>
      <td>2015-07-22 12:00:03.537251</td>
    </tr>
    <tr>
      <th>1158491</th>
      <td>1158491</td>
      <td>2015-07-22</td>
      <td>12</td>
      <td>0</td>
      <td>11</td>
      <td>2015-07-22 12:00:11.513590</td>
    </tr>
    <tr>
      <th>1158492</th>
      <td>1158492</td>
      <td>2015-07-22</td>
      <td>12</td>
      <td>0</td>
      <td>9</td>
      <td>2015-07-22 12:00:09.735627</td>
    </tr>
    <tr>
      <th>1158493</th>
      <td>1158493</td>
      <td>2015-07-22</td>
      <td>12</td>
      <td>0</td>
      <td>14</td>
      <td>2015-07-22 12:00:14.920355</td>
    </tr>
    <tr>
      <th>1158494</th>
      <td>1158494</td>
      <td>2015-07-22</td>
      <td>12</td>
      <td>0</td>
      <td>9</td>
      <td>2015-07-22 12:00:09.749641</td>
    </tr>
    <tr>
      <th>1158495</th>
      <td>1158495</td>
      <td>2015-07-22</td>
      <td>12</td>
      <td>0</td>
      <td>9</td>
      <td>2015-07-22 12:00:09.743912</td>
    </tr>
    <tr>
      <th>1158496</th>
      <td>1158496</td>
      <td>2015-07-22</td>
      <td>12</td>
      <td>0</td>
      <td>15</td>
      <td>2015-07-22 12:00:15.931508</td>
    </tr>
    <tr>
      <th>1158497</th>
      <td>1158497</td>
      <td>2015-07-22</td>
      <td>12</td>
      <td>0</td>
      <td>25</td>
      <td>2015-07-22 12:00:25.435444</td>
    </tr>
    <tr>
      <th>1158498</th>
      <td>1158498</td>
      <td>2015-07-22</td>
      <td>12</td>
      <td>0</td>
      <td>25</td>
      <td>2015-07-22 12:00:25.986068</td>
    </tr>
    <tr>
      <th>1158499</th>
      <td>1158499</td>
      <td>2015-07-22</td>
      <td>12</td>
      <td>0</td>
      <td>27</td>
      <td>2015-07-22 12:00:27.539654</td>
    </tr>
  </tbody>
</table>
<p>1158500 rows Ã— 6 columns</p>
</div>